h2 
{
	margin: 10px 0 20px;
	text-align: center;
}

.resultsContainer 
{
	background-color: rgba(126, 111, 179, 0.4);
	display: block;
	align-items: center;
	font-size: 20px;
	padding: 10px 10px;
	height: 100px;
	width: 100%;
}

@media screen and (max-width: 500px) {
	.resultsContainer {
		font-size: 22px;
	}
}
